<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437603085452-vk2rvlf8h56ig92t426p1blsnsg0cro7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437603085452-vk2rvlf8h56ig92t426p1blsnsg0cro7</string>
	<key>API_KEY</key>
	<string>AIzaSyCUBrQUx60GaXKbFu_rBJQET3mYpumD7-A</string>
	<key>GCM_SENDER_ID</key>
	<string>437603085452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ikustow.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-9d0ef</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-9d0ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437603085452:ios:068c6806a0444735c65fa9</string>
</dict>
</plist>